.container {
  box-shadow: -5px 0 5px -5px rgba(0,0,0,.5), 5px 0 5px -5px rgba(0,0,0,.5);
  padding: 0;
  background: #151518;

  &.bottom-border {
    border-bottom: 1px solid #28282f;
  }
}

.top-block {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;


  & img {
    float: left;
    width: 25px;
    margin-left: 64px;
  }

  .title {
    float: left;
    font-family: SFProDisplay, sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 15px;
  }
}
