<div class="container-wrapper container">
  <div class="row-full">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand brand-left" href="#">
        <img src="../../../assets/netflix_logo.png" alt="netflix_logo"/>
      </a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
              (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [collapse]="isCollapsed">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home</a>
          <a class="nav-item nav-link" href="#">Movies</a>
          <a class="nav-item nav-link" href="#">List</a>
          <a class="navbar-brand brand-right" href="#">
            <img src="../../../assets/logo.png" alt="logo"/>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <carousel (activeSlideChange)="log($event)"
            [interval]="myInterval"
  >
    <slide *ngFor="let slide of slides; let index=index">
      <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">

      <div class="carousel-caption">
        <h1>Slide {{index}}</h1>
        <p>{{slide.text}}</p>
      </div>
    </slide>
  </carousel>
</div>




