.container {
  box-shadow: -5px 0 5px -5px rgba(0,0,0,.5), 5px 0 5px -5px rgba(0,0,0,.5);
  padding: 0;
}

.container-wrapper {
  height: 550px;
}

.row-full {
  position: relative;
  z-index: 2;
  background: rgba(0,0,0,0.3);
  border-bottom: 1px solid #282828;
}

.navbar {
  position: relative;
  top: 0;
  z-index: 2;
  padding: 1rem 4rem;

}

.nav-item {
  position: relative;
  color: #909090 !important;
  padding-bottom: 10px;
  font-family: SFProDisplay, sans-serif;
  font-weight: 600;
  font-size: 18px;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff !important;

    &::after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 50%;
      width: 5px;
      padding-bottom: 5px;
      background: #db1623;
      border-radius: 50%;
    }
  }
}

.navbar-brand {
  transition: .3s all ease-in-out;

  &:hover {
    opacity: .7;
    transition: .3s all ease-in-out;
  }

  &.brand-left {
    img {
      width: 70px;
    }
  }
  &.brand-right {
    margin-left: 20px;
    margin-right: 64px;

    img {
      width: 30px;
    }
  }
}

.collapse {
  position: absolute;
  right: 0;
}

carousel {
  position: relative;
  top: -73px;
  z-index: 1;
}

::ng-deep {
  & .carousel-control {
    display: none !important;
  }
}

.item.active {
  height: 550px;
}


.carousel-caption {
  left: 7%;
  bottom: 45%;
  right: auto;

  h1 {
    font-weight: 800;
  }
}


@media (min-width: 992px) {
  .navbar-nav {
    align-items: center;

    .nav-link {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
