.wrapper {
  min-height: 100%;
  background: #282828;
}

.wrapper:after{
  content: '';
  clear: both;
  display: block;
}

.header {
  height: 550px;
}

.content {
  padding-bottom: 100px;
}

.footer {
  background-color: #333;
  height: 100px;
  margin-top: -100px;
  clear: both;
}
