@import "styles-variables";

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SFProDisplay";
  font-style: semi-bold;
  font-weight: 600;
  src: url("./assets/fonts/SF-Pro-Display-Semibold.otf");
}

@font-face {
  font-family: "SFProDisplay";
  font-style: bold;
  font-weight: 700;
  src: url("./assets/fonts/SF-Pro-Display-Bold.otf");
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


@media (min-width: 1700px) {
  .container {
    max-width: 1640px !important;
  }
}
